body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: black;
  filter: invert(90%) hue-rotate(180deg);
  font-size: 20pt;
}

.bus-list {
  margin: 0;
  padding: 0;
  width: 100%
}

.bus-number {
  font-weight: bold
}

table.bus-list {
  border-collapse: collapse;
  text-align: left;
}

table.bus-list td {
  padding: .6em .2em;
  border-bottom: 4px solid #ddd;
  font-size: .7em;
}

table.bus-list td.bus-number {
  font-size: 1em;
}

table.bus-list td.bus-number {
  text-align: center;
}

table.bus-list td.bus-departure-time {
  text-align: center;
}